// Config : Colors variables
// =========================
//

// Debug
// ------
// background color debugging ftw
/* stylelint-disable */
$p: peachpuff !default;
$r: rebeccapurple !default;
$l: lightgreen !default;
/* stylelint-enable */

// Colors list
// -----------
// List all colors right here
// Variables named using "Name that color" (http://chir.ag/projects/name-that-color/)
$white: #fff !default;
$black: #000 !default;

$athens-gray: #ededee !default;
$whitish: #fefefe !default;

$mischka: #dadade !default;

$gable-green: #123132 !default;	// Main Primary color
$spectra: #365859 !default;
$te-papa-green: #1f3c3d !default;
$firefly: #082324 !default;
$holly: #011415 !default;

$copper: #b88033 !default;	// Main Secondary color
$peach-orange: #ffd397 !default;
$di-serria: #d6a25b !default;
$hawaiian-tan: #935f17 !default;
$nutmeg-wood: #673c00 !default;

$falu-red: #871919 !default;
$red-oxide: #640404 !default;

// Message colors
$invalid: $falu-red !default;
$invalid-text: $red-oxide !default;
$valid: $spectra !default;
$valid-text: $firefly !default;


// Layout color
// ------------
// Put the colors listed in use
// /!\ Don't use color name for your variables here
$body-bg: $athens-gray;
$text-color: $gable-green;
