.HeroBanner {
  max-height: rem(300px);
  width: 100%;

  @include media-breakpoint-up('md') {
    height: calc(100vh - #{$header-height});
    max-height: none;
  }
}

.HeroBanner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $black;
  overflow: hidden;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
  }
}

.HeroBanner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);

  .Logo-brandSvg {
    height: 40%;
    min-height: rem(100px);
    width: 40%;
    min-width: rem(100px);
    fill: $whitish;
    opacity: 0;
    animation: reveal 2s ease forwards 0.2s;
  }

  .HeroBanner-subtitle {
    @extend %u-fontLight;
    flex-shrink: 0;
    display: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $whitish;
    margin: rem(30px) 0;
    opacity: 0;
    animation: reveal 1s ease forwards 0.5s;

    @include media-breakpoint-up('md') {
      display: block;
    }
  }
}

@keyframes reveal {
  to {
    opacity: 0.7;
  }
}
