.NavBar {
  height: rem(60px);
  background-color: $mine-shaft;
  padding: 0 rem(10px);
  
  .Logo {
    height: rem(50px);
    width: rem(50px);
    fill: $soft-peach;
  }
}

.NavBar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
