.NavBar {
  height: rem(60px);
  padding: 0 rem(10px);
  background-color: $gable-green;
  
  .Logo {
    height: rem(40px);
    width: rem(40px);
    fill: $di-serria;
  }
}

.NavBar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
