.Pusher {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: rem(300px);
  background-color: $athens-gray;
  transform: translateX(-100%);
  transition: transform $transition ease;
  z-index: 3;

  &.is-deployed {
    transform: translateX(0);

    + .Pusher-overlay {
      transform: translateX(0);
    }
  }
}

.Pusher-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba($firefly, 0.6);
  opacity: 1;
  transition: transform $transition ease;
  z-index: 2;
}


