.Burger {
  position: relative;
  height: rem(40px);
  width: rem(40px);
  
  button {
    height: 100%;
    width: 100%;
  }

  &.is-open {
    .Burger-part {
      animation-name: disappearAndRotate;
    }

    .Burger-part,
    .Burger-part::before,
    .Burger-part::after {
      animation-duration: $transition;
      animation-fill-mode: forwards;
    }

    .Burger-part::before {
      animation-name: rotateClockwise;
    }

    .Burger-part::after {
      animation-name: rotateCounterClockwise;
    }
  }
}

.Burger-part {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: rem(3px);
  width: rem(30px);
  background-color: $copper;
  transform: translate(-50%, -50%);
  transition: all $transition ease;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
    height: rem(3px);
    width: 100%;
    background-color: $copper;
  }

  &::before {
    top: rem(-10px);
  }

  &::after {
    bottom: rem(-10px);
  }
}

@keyframes rotateClockwise {
  0% {
    top: rem(-10px);
    transform: rotate(0);
  }

  50% {
    top: (0);
    transform: rotate(0);
  }

  100% {
    top: 0;
    transform: rotate(45deg);
  }
}

@keyframes rotateCounterClockwise {
  0% {
    bottom: rem(-10px);
    transform: rotate(0);
  }

  50% {
    bottom: (0);
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

@keyframes disappearAndRotate {
  100% {
    background-color: transparent;
  }
}
