////
/// Collection of typography tools.
////

/// Enable or disable font smoothing.
///
/// @param {String} $state 'on' - Enable font smoothing with 'on'.
@mixin font-smoothing($value: 'on') {
  @if $value == 'on' {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin editorial-content($selector: $rtfSelector) {
  #{$rtfSelector} {
    @content;
  }
}


$barlow-light: 300 !default;
$barlow-regular: 400 !default;
$barlow-semiBold: 600 !default;
$barlow-bold: 700 !default;

$playfair-thin: 200 !default;
$playfair-light: 300 !default;
$playfair-regular: 400 !default;
$playfair-bold: 700 !default;

$staatliches: 700 !default;

%u-fontSmoothing {
  @include font-smoothing('on');
}

%u-fontNoSmoothing {
  @include font-smoothing('off');
}

%u-fontLight {
  font-weight: $barlow-light;
}

%u-fontRegular {
  font-weight: $barlow-regular;
}

%u-fontBold {
  font-weight: $barlow-bold;
}

%u-fontSemiBold {
  font-weight: $barlow-semiBold;
}

%u-fontExtraBold {
  font-family: $ternary-fontFamily;
  font-weight: $staatliches;
}

%u-headingFontThin {
  font-family: $secondary-fontFamily;
  font-weight: $playfair-thin;
}

%u-headingFontLight {
  font-family: $secondary-fontFamily;
  font-weight: $playfair-light;
}

%u-headingFontRegular {
  font-family: $secondary-fontFamily;
  font-weight: $playfair-regular;
}

%u-headingFontBold {
  font-family: $secondary-fontFamily;
  font-weight: $playfair-bold;
}

%u-fontResetWeight {
  font-weight: inherit !important;
  font-weight: unset !important;
}

.u-fontLight {
  @extend %u-fontLight !optional;

  b,
  strong {
    @extend %u-fontBold !optional;
  }
}

.u-fontRegular {
  @extend %u-fontRegular !optional;
}

.u-fontSemiBold {
  @extend %u-fontSemiBold !optional;

  b,
  strong {
    @extend %u-fontBold !optional;
  }
}

.u-fontBold {
  @extend %u-fontBold !optional;

  b,
  strong {
    @extend %u-fontExtraBold !optional;
  }
}


/* .u-headingFontThin {
  @extend %u-headingFontThin;

  b,
  strong {
    @extend %u-headingFontRegular !optional;
  }
}

.u-headingFontLight {
  @extend %u-headingFontLight;

  b,
  strong {
    @extend %u-headingFontRegular !optional;
  }
}

.u-headingFontRegular {
  @extend %u-headingFontRegular;
  
  b,
  strong {
    @extend %u-headingFontBold !optional;
  }
}

.u-headingFontBold {
  @extend %u-headingFontBold;

  b,
  strong {
    @extend %u-headingFontBold !optional;
  }
}

.u-headingFontBold {
  @extend %u-headingFontBold;
}

.u-filigraneFontExtraBold {
  @extend %u-filigraneFontExtraBold;
} */

.u-fontResetWeight {
  @extend %u-fontResetWeight !optional;
}
